/* Write your CSS here */
.appContainer {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appStoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  width: 80%;
}

.heading {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  align-self: center;
  margin: 15px;
  text-align: center;
}

.inputContainer {
  display: flex;
  background-color: transparent;
  height: 35px;
  margin-top: 18px;
  align-self: center;
  margin-left: 18px;
  border: 1px solid #7b8794;
  border-radius: 10px;
}
.input {
  background-color: transparent;
  font-size: 18px;
  color: #7b8794;
  margin-right: 0px;
  padding-left: 8px;
  outline: none;
  cursor: pointer;
  border: 0px solid transparent;
}
.searchIcon {
  height: 25px;
  width: 25px;
  margin-left: 0px;
  align-self: center;
}

.tabListContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-bottom: 0px;
}

.appListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-flow: wrap;
  margin-left: 40px;
  margin-top: 0px;
}
